@import "tailwindcss";

.hero-bg {
  background-image: url('https://source.unsplash.com/1600x900/?fitness,gym');
  background-size: cover;
  background-position: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
